<html>
  <head>
    {{>head}}
    <script src="https://global.oktacdn.com/okta-signin-widget/5.14.1/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://global.oktacdn.com/okta-signin-widget/5.14.1/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app-container"></div>
    <script type="text/javascript">
      const signIn = new OktaSignIn({
        baseUrl: '{{{baseUrl}}}',  // e.g. https://dev-1234.oktapreview.com
        flow: 'unlockAccount',
        useInteractionCodeFlow: true,
        authParams: {
          clientId: '{{{clientId}}}',
          pkce: true
        }
      });

      signIn.renderEl({ el: '#app-container' }, (res) => {
        
      }, (err) => {
        console.error(err);
      });

    </script>
  </body>
</html>