<html>
  <head>
    {{>head}}
    <script src="https://global.oktacdn.com/okta-signin-widget/3.5.0/js/okta-sign-in.min.js" type="text/javascript"></script>
    <link href="https://global.oktacdn.com/okta-signin-widget/3.5.0/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="app-container"></div>
    <script type="text/javascript">
      const signIn = new OktaSignIn({
        baseUrl: '{{{baseUrl}}}'  // e.g. https://dev-1234.oktapreview.com
      });

      signIn.renderEl({ el: '#app-container' }, (res) => {
        var form = $('<form>', {
          method: 'POST',
          action: '/login'
        });
        $(document.body).append(form);
        var sessionTokenField = $('<input type="hidden" name="sessionToken"/>');
        var csrfTokenField = $('<input type="hidden" name="_csrf" value="{{{csrfToken}}}"/>');
        sessionTokenField.val(res.session.token)
        form.append(sessionTokenField);
        form.append(csrfTokenField);
        form.submit();
      }, (err) => {
        console.error(err);
      });

    </script>
  </body>
</html>